[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==22.10.0"
numpy = "==1.23.3"
pandas = "==1.4.4"
pyarrow = "==10.0.1"
python-dotenv = "==0.21.0"
snowflake-connector-python = "==2.7.11"
pyyaml = "==6.0"

[packages]
dbt-snowflake = "~=1.5.0"
dbt-postgres = "~=1.5.0"
importlib-metadata = "~=2.0"
markupsafe = "==2.0.1"
sqlfluff = "~=2.1.0"
sqlfluff-templater-dbt = "~=2.1.0"
pyjwt = "==2.4.0"
montecarlodata = "==0.40.0"
slack_sdk = "3.18.1"

[requires]
python_version = "3.8"
